@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 3px;
}
